@import "../../Styles/colors.scss", "../../Styles/mixins.scss";

.form {
    color: white; 
    font-family: 'Great Vibes', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 81vw; 
    margin-top: 50px;
    margin-left: 50px;
}

.form-header {
    font-size: 50px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    letter-spacing: 0.2em;
    margin: 30px;
}

.form-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15vw;
    height: 50vh;
    padding: 10px;
}

.form-label {
    font-size: 30px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.30);
}

.form-input {
    height: 20px;
}

.form-button {
    @include auth-buttons;
    margin-left: 25%;
    margin-top: 30px;
}