  @mixin auth-buttons {
    height: 30px; 
    width: 150px; 
    color: $darkPink; 
    background-color: white;
    font-size: 20px; 
    padding: 0 10px; 
    padding-top: 5px;
    border: none; 
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

@mixin dash-buttons {
  height: 20px; 
  width: 150px; 
  color: $darkPink; 
  background-color: white;
  font-size: 18px; 
  padding: 0 10px; 
  padding-top: 1px;
  border: none; 
  font-family: 'Great Vibes', cursive;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}