@import "../../Styles/colors.scss", "../../Styles/mixins.scss";

.cellar {
    color: white; 
    font-family: 'Great Vibes', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 81vw; 
    margin-top: 50px;
    margin-left: 50px;
}

.cellar-header {
    font-size: 50px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    letter-spacing: 0.2em;
}

.cellar-button {
    @include cellar-buttons;
}

//!also works in cellar
.small-header {
    font-size: 30px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    letter-spacing: 0.15em;
    margin-top: 0;
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: IPAD PRO
@media screen and (max-width: 1024px) {
    .cellar {
        width: 100vw; 
        margin-left: 0;
        margin-top: 15vh;        

    }
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: iphone 6/7/8
@media screen and (max-width: 414px) {  
    .cellar-header {
        font-size: 40px;

    }
    
    .cellar-button {
        @include cellar-buttons;
    }
    
    //!also works in cellar
    .small-header {
        font-size: 20px;
        text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
        letter-spacing: 0.15em;
        margin-top: 0;
    }
}