.dash {
  color: white;
  font-family: 'Great Vibes', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 81vw;
  margin-top: 50px;
  margin-left: 50px;
}

.dash-header {
  font-size: 50px;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2em;
}

.mapped {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75vw;
}

.wines {
  font-size: 17px;
  margin: 10px;
  border: 2px solid #F8E1F2;
  border-radius: 5px;
  width: 325px;
  font-family: 'Times New Roman', Times, serif;
}

.per-wine > div {
  margin-left: 15px;
}

.year {
  margin-top: 15px;
}

.dash-button {
  height: 20px;
  width: 150px;
  color: #ED1E79;
  background-color: white;
  font-size: 18px;
  padding: 0 10px;
  padding-top: 1px;
  border: none;
  font-family: 'Great Vibes', cursive;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
  width: 75vw;
  margin-bottom: 50px;
}

.out-button {
  height: 30px;
  width: 150px;
  color: #ED1E79;
  background-color: white;
  font-size: 20px;
  padding: 0 10px;
  padding-top: 5px;
  border: none;
  font-family: 'Great Vibes', cursive;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 15px;
}

a {
  color: #ED1E79;
  letter-spacing: 0.1em;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px;
  background-color: white;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .dash {
    width: 100vw;
    margin-left: 0;
    margin-top: 15vh;
  }
  .wines {
    font-size: 20px;
    width: 350px;
  }
  .dash-button {
    height: 25px;
  }
  .out-button {
    height: 30px;
    width: 150px;
    color: #ED1E79;
    background-color: white;
    font-size: 20px;
    padding: 0 10px;
    padding-top: 5px;
    border: none;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 414px) {
  .dash {
    width: 100vw;
    margin-left: 0;
    margin-top: 10vh;
  }
  .dash-header {
    font-size: 40px;
  }
  .mapped {
    width: 90vw;
  }
  .wines {
    font-size: 15px;
  }
  .out-button {
    width: 85px;
    font-size: 14px;
    height: 25px;
    margin-left: 5px;
  }
  a {
    font-size: 11px;
    margin: 0;
  }
  .holder {
    width: 100vw;
  }
}

@media screen and (max-width: 414px) {
  a {
    font-size: 9px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */