@import "../../Styles/colors.scss", "../../Styles/mixins.scss";

.dash {
    color: white; 
    font-family: 'Great Vibes', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 81vw; 
    margin-top: 50px;
    margin-left: 50px;
}

.dash-header {
    font-size: 50px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.50);
    letter-spacing: 0.2em;
}

//!also works in cellar
.mapped {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    width: 75vw;
}

//!also works in cellar
.wines {
    font-size: 17px;
    margin: 10px;
    border: 2px solid $lightPink;
    border-radius: 5px;
    width: 325px; 
    font-family: 'Times New Roman', Times, serif;
}


.per-wine > div {
    margin-left: 15px;
}

//!also works in cellar
.year {
    margin-top: 15px;
}

.dash-button {
    @include dash-buttons;
    margin-bottom: 10px;
    margin-top: 10px;
}

//!also works in cellar and form 
.holder {
    display: flex; 
    justify-content: space-between;
    margin-right: 10px;
    width: 75vw;
    margin-bottom: 50px;
}

//!also works in cellar and form 
.out-button {
    @include auth-buttons;   
    margin-top: 15px;
}

a {
    color: $darkPink;
    letter-spacing: 0.1em; 
    font-size: 18px;
    border-radius: 5px;
    padding: 6px;
    background-color: white;
    text-decoration: none;
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: IPAD PRO
@media screen and (max-width: 1024px) {
    .dash {
        width: 100vw; 
        margin-left: 0;
        margin-top: 15vh;        
    }
    
    .wines {
        font-size: 20px;
        width: 350px; 
    }
    
    .dash-button {
        height: 25px;
    }
    
    .out-button {
        @include auth-buttons;   
        margin-top: 15px;
    }
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: iphone 6/7/8
@media screen and (max-width: 414px) {   
    .dash {
        width: 100vw; 
        margin-left: 0;
        margin-top: 10vh;        
    }

    .dash-header {
        font-size: 40px;
    }
    
    //!also works in cellar
    .mapped {
        width: 90vw;
    }
    
    //!also works in cellar
    .wines {
        font-size: 15px;
    }
    
    .out-button {
        width: 85px;
        font-size: 14px;
        height: 25px;
        margin-left: 5px;
    }

    a {
        font-size: 11px;
        margin: 0;
    }

    .holder {
        width: 100vw;
    }

}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: iphone X
@media screen and (max-width: 414px) {   

    a {
        font-size: 9px;
    }
}