body {
  display: flex; 
  flex-direction: column;
  background-color: #ED1E79;
  margin: 0 auto;
  width: calc(81vw - 19vw);
}

/*- RESPONSIVE DESIGN: IPAD PRO */
@media screen and (max-width: 1024px) {
  body {
    width: 100vw;
  }
}


