@import "../../Styles/colors.scss", "../../Styles/mixins.scss";

.edit {
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-button {
    @include edit-buttons;
}

.edit-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.rating-input {
    margin: 4px;
    width: 40px;
    color: $darkPink;
    border: none;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px;

}

.notes-input {
    margin: 4px;
    width: 210px;
    color: $darkPink;
    border: 1px solid white;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px;
}

.save-button {
    border: none; 
    border-radius: 2px;
    height: 24px;
    color: $darkPink;
    letter-spacing: 0.1em;
    padding: 2px;
    background-color: white;
}

.cancel-button {
    border-radius: 2px;
    color: white;
    letter-spacing: 0.1em;
    padding: 2px;
    border: 1px solid white;
    background: $darkPink;
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: IPAD PRO
@media screen and (max-width: 1024px) {
    .edit-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .rating-input {
        height: 30px;
        font-size: 18px;
    }
    
    .notes-input {
        height: 30px;
        font-size: 18px;
    }
}

//- ---------------------------------------------
//- RESPONSIVE DESIGN: iphone 6/7/8
@media screen and (max-width: 414px) {  
    .rating-input {
        height: 20px;
        font-size: 16px;
    }
    
    .notes-input {
        height: 20px;
        font-size: 16px;
    }
}